:root {
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 46%, 89%);
  --grayishBlue: hsl(219, 15%, 55%);
  --darkBlue: hsl(218, 44%, 22%);
}

/* --- CSS RESET --- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: var(--lightGray);
}
img {
  width: 100%;
  border-radius: 12px;
}

.main-container {
  display: grid;
  place-content: center;
  max-width: 322px;
  border-radius: 20px;
  background-color: var(--white);
}
.img-container {
  padding: 16px;
}
.text-container {
  text-align: center;
  padding: 25px;
}
.text-container h1 {
  color: var(--darkBlue);
  font-size: 2.4rem;
  font-weight: 700;
}
.text-container p {
  color: var(--grayishBlue);
  font-size: 1.5rem;
  margin-top: 17px;
  padding-bottom: 15px;
}

/* --- FOOTER --- */
.attribution {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1.4rem;
  text-align: center;
  margin: 2rem 0 1rem 0;
  color: #131313;
}
.attribution__link {
  color: #5d5d5d;
  transition: 0.5s ease;
  filter: brightness(0.95);
}
.attribution__link:hover,
.attribution__link:active {
  color: #6d6d6d;
  filter: brightness(1.5);
}
